<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="MarketingDataModel" connectionString="data source=PROJECT_NAME-sql1;initial catalog=MarketingDataCollection;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EMSModel" connectionString="data source=PROJECT_NAME-sql1;initial catalog=EMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EddyLoggingEntities" connectionString="metadata=res://*/DataModel.DataMappings.csdl|res://*/DataModel.DataMappings.ssdl|res://*/DataModel.DataMappings.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Nexus_Validation_Entities" connectionString="metadata=res://*/DataModel.VEModel.csdl|res://*/DataModel.VEModel.ssdl|res://*/DataModel.VEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROJECT_NAME-sql1;initial catalog=Nexus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMSEmailMarketingModel" connectionString="data source=PROJECT_NAME-sql1;initial catalog=EMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EMSPostUpLoggingModel" connectionString="data source=PROJECT_NAME-sql1;initial catalog=EddyLogging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <!--<add key="SalesForceUsername" value="emsleadservice@educationdynamics.com.emsqa2" />
    <add key="SalesForceConsumerKey" value="3MVG9aFryxgomHTZBf2tPqyBm7evv3ibaMBJGi39x1pqdUUAbsXODgREOnjD5Z72vNFdU.i4KOHdaOpZqGC9I" />
    <add key="SalesForceConsumerSecret" value="EC8002808996F0CEB018D153CEF062CDAA5AF0810D4BAA98459F04A73797EFC7" />
    <add key="SalesForceSecurityToken" value="v283cMHCU8RwOIxnW9AnleUG" />
    <add key="SalesforcePassword" value="IYsGa8iNhe/SMExiZjZnnQ==" />-->
    <add key="SalesForceUsername" value="emsleadservice@educationdynamics.com.uateddy" />
    <add key="SalesForceConsumerKey" value="3MVG9mtnSJLqdj7C_hwnxMJ5ydBf28HOQV8FTRYeWOU7zgZs1i3yb1OZ_WV51fNvReRY6HpNKnRoryux6agri" />
    <add key="SalesForceConsumerSecret" value="B1F9717287FB72A888EA1F7C30AE4C8C2F671B6019114F867856CB2FC86C6955" />
    <add key="SalesForceSecurityToken" value="WJY76oRg6LMOMb21pCmSyrJM" />
    <add key="SalesforcePassword" value="wJeYqsFqffj24tqcJ7ODOw==" />
    <add key="SendToFBConversion" value="true" />
    <add key="SendToFBAudience" value="true" />
    <add key="SendToGoogleConversion" value="true" />
    <add key="SendToGoogleAudience" value="true" />
    <add key="MeteorLearningInstitutions" value="8,4,143,181,32,87" />
    <add key="EventGridUrl" value="https://eddydev.eastus2-1.eventgrid.azure.net/api/events" />
    <add key="MarkSpamAsScreened" value="false" />
    <add key="EDDYAPI_URI" value="http://partners.sf.educationdynamics.local" />
    <add key="TimezoneEndpoint" value="/api/util/gettimezone?APIKey=2055C775-3F9B-4F33-BC61-BDFD6BE45009" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>
